<app-Header></app-Header>
<div class="add-portfolio">
  <h3 class="text-center">You have {{ portfolios?.length || '-' }} portfolio(s)</h3>
  <button type="button" class="btn btn-secondary" (click)="open(content)"><span>+</span> Add Portfolio</button>

</div>
<div class="list-portfolio">
  <div class="card">
    <div class="card-body">
      Selected Portfolio
    </div>
  </div>
  <select class="form-control form-control-lg">
    <option>Tech</option>
    <option>Cars</option>
  </select>
</div>
<div class="table-portfolio">
  <table class="table table-dark" style="margin-bottom: 0;">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Stocks #</th>
        <th scope="col" class="text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let portfolio of portfolios; let i=index">
        <th scope="row">{{ portfolio?.id }}</th>
        <td>{{ portfolio?.name }}</td>
        <td>{{ portfolio?.ownedStocks?.length }}</td>
        <td class="text-right">
          <button class="btn btn-sm btn-outline-primary" (click)="onViewModal(portfolio.id, viewPortfolioModal)">
            View profit/loss
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<!-- create portfolio modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Portfolio</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Name of Portfolio</label>
        <div class="input-group">
          <input id="name" class="form-control" placeholder="Portfolio name" name="name" type="text"
            [(ngModel)]="input.name">
          <!-- <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div> -->
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="onSave()">Create</button>
  </div>
</ng-template>

<!-- view portfolio modal -->
<ng-template #viewPortfolioModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Portfolio #{{ selectedPortfolioDetails?.id }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">Name:</div>
      <div class="col-12">
        <h5>Default portfolio{{ selectedPortfolioDetails?.name }}</h5>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <h6>Stocks (Owned products)</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table" aria-describedby="stocks table">
          <tr>
            <th scope="col">Ticker/Symbol</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
          </tr>
          <tr *ngFor="let stock of selectedPortfolioDetails?.ownedStocks">
            <td>{{ stock?.ticker }}</td>
            <td>{{ stock?.quantity }}</td>
            <td>{{ stock?.price }}</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <h6>Orders</h6>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table" aria-describedby="orders table">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Status</th>
            <th scope="col">Side</th>
          </tr>
          <tr *ngFor="let order of selectedPortfolioDetails?.orders">
            <td>{{ order?.product }}</td>
            <td>{{ order?.quantity }}</td>
            <td>{{ order?.price }}</td>
            <td>{{ order?.status }}</td>
            <td>{{ order?.side }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger">Delete</button>
  </div> -->
</ng-template>