<section id="about-part" class="section-p">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-lg-4 text-center">
        <div class="about-item">
          <h2>Fair</h2>
          <img src="../../../assets/images/about-1.png" alt="about image">
          <p>Lorem ipsum dolothylrldr sit amet, consectetur adipisicing elit. Omnis corrupti laborum archicto tempore officia libero</p>
          <a href="#" class="btn-2">Read More</a>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 text-center">
        <div class="about-item">
          <h2>Fast</h2>
          <img src="../../../assets/images/about-2.png" alt="about image">
          <p>Lorem ipsum dolothylrldr sit amet, consectetur adipisicing elit. Omnis corrupti laborum archicto tempore officia libero</p>
          <a href="#" class="btn-2">Read More</a>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-lg-4 text-center">
        <div class="about-item mb-0">
          <h2>Trusty</h2>
          <img src="../../../assets/images/about-3.png" alt="about image">
          <p>Lorem ipsum dolothylrldr sit amet, consectetur adipisicing elit. Omnis corrupti laborum archicto tempore officia libero</p>
          <a href="#" class="btn-2">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
