<div class="container-fluid">
  <div class="row sm-gutters">   
      <div class="col-xl-6 orders-table">
          <div>
              <div class="crypt-market-status">
                  <div>
                      <!-- <ul class="nav nav-tabs">
                          <li role="presentation"><a href="#active-orders" class="active" data-toggle="tab">Active Orders</a></li>
                          <li role="presentation"><a href="#closed-orders" data-toggle="tab">Closed Orders</a></li>
                          <li role="presentation"><a href="#balance" data-toggle="tab">Balance</a></li>
                      </ul> -->
                      <div class="tab-content">
                          <div role="tabpanel" class="tab-pane active" id="active-orders">
                              <table class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th scope="col">Time</th>
                                          <th scope="col">Buy/sell</th>
                                          <th scope="col">Price USD</th>
                                          <th scope="col">Amount </th>
                                          <th scope="col">Status</th>
                                          <!-- <th scope="col">Operation</th> -->
                                      </tr>
                                  </thead>
                              </table>
                              <!-- <div class="no-orders text-center p-160"><img src="images/empty.svg" alt="no-orders"></div> -->
                          </div>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-5 buy-table">
        <div class="crypt-boxed-area">
            <h6 class="crypt-bg-head"><b class="crypt-up">BUY</b> / <b class="crypt-down">SELL</b></h6>
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="crypt-buy-sell-form">
                        <p>Buy <span class="crypt-up">$</span> <span class="fright">Available: <b class="crypt-up">0.00 BTC</b></span></p>
                        <div class="crypt-buy">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"> <span class="input-group-text">Price</span> </div>
                                <input type="text" class="form-control" placeholder="0.02323476" readonly>
                                <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"> <span class="input-group-text">Amount</span> </div>
                                <input type="number" class="form-control">
                                <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"> <span class="input-group-text">Total</span> </div>
                                <input type="text" class="form-control" readonly>
                                <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                            </div>
                            <div>
                                <p>Fee: <span class="fright">100%x0.2=0.02</span></p>
                            </div>
                            <div class="text-center mt-3 mb-3 crypt-up">
                                <p>You will approximately pay</p>
                                <h4>0.09834 $</h4></div>
                            <div class="menu-green"><a href="#" class="crypt-button-green-full">Buy</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="crypt-buy-sell-form">
                        <p>Sell <span class="crypt-down">BTC</span> <span class="fright">Available: <b class="crypt-down">0.00 BTC</b></span></p>
                        <div class="crypt-sell">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"> <span class="input-group-text">Price</span> </div>
                                <input type="text" class="form-control" placeholder="0.02323476" readonly>
                                <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"> <span class="input-group-text">Amount</span> </div>
                                <input type="number" class="form-control">
                                <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                            </div>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend"> <span class="input-group-text">Total</span> </div>
                                <input type="text" class="form-control" readonly>
                                <div class="input-group-append"> <span class="input-group-text">USD</span> </div>
                            </div>
                            <div>
                                <p>Fee: <span class="fright">100%x0.2=0.02</span></p>
                            </div>
                            <div class="text-center mt-3 mb-3 crypt-down">
                                <p>You will approximately pay</p>
                                <h4>0.09834 </h4></div>
                            <div><a href="#" class="crypt-button-red-full">Sell</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
