<div class="parent">
  <div class="top">
    <div class="card">
      <div class="card-body">
        <span>MSFT</span>
        <span>USD 1.2</span>
        <span>⬆️</span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <span>GOOGL</span>
        <span>USD 0.7</span>
        <span>⬆️</span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <span>AAPL</span>
        <span>USD 1.9</span>
        <span>⬆️</span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <span>IBM</span>
        <span>USD 2.2</span>
        <span>⬆️</span>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="card">
      <div class="card-body">
        <span>TLSA</span>
        <span>USD 2.0</span>
        <span>⬆️</span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <span>ORCL</span>
        <span>USD 1.7</span>
        <span>⬆️</span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <span>AMZN</span>
        <span>USD 2.2</span>
        <span>⬆️</span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <span>NFLX</span>
        <span>USD 0.8</span>
        <span>⬆️</span>
      </div>
    </div>
  </div>
</div>
