

<div class="getstart section-padding" id="portfolio">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <div class="section-title">
          <h2>Get started in a few minutes</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <div class="getstart-content">
          <span><i class="la la-user-plus"></i></span>
          <h3>Create an account</h3>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <div class="getstart-content">
          <span><i class="la la-bank"></i></span>
          <h3>Link your bank account</h3>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <div class="getstart-content">
          <span><i class="la la-exchange"></i></span>
          <h3>Start buying &amp; selling</h3>
        </div>
      </div>
    </div>
  </div>
</div>
