
body {
  font-family: "Poppins",sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #a1a0a7;
  text-align: left;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.75;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.intro {
  padding: 100px 0;
}
.intro-btn {
  margin-bottom: 50px;
}

.intro-form-exchange {
  padding: 30px;
  box-shadow: 0 20px 25px rgba(22,28,45,.05);
  border-radius: 5px;
  background: #131722;
  color: #fff;
}

.intro-form-exchange .btn {
  padding: 10px 15px;
  font-weight: 500;
  position: relative;
  font-size: 16px;
}

/* for the arrow */
.intro-form-exchange .btn i {
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  right: 15px;
}

.la, .las {
  font-weight: 900;
}
.la, .lar, .las {
  font-family: "Line Awesome Free"; /* arrow*/
}
.la, .lab, .lad, .lal, .lar, .las {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-feature-settings: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

h1{
  color: #fff;
  font-weight: bold;
  line-height: 1.5;
}

#para{
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 1.5;
  font-size: 20px;
}

