/*------- Login / Register ------------*/
.cryptorio-forms{}
.cryptorio-forms-dark{}

.cryptorio-forms-dark .cryptorio-main-form{
    background: #131722 url('../../../assets/images/bg.png') center no-repeat;
    padding: 70px 60px 100px 60px;
    box-shadow: 0 0 53px #00000063;
    border-radius: 5px;
}
.cryptorio-main-form label{
    margin-bottom: 15px;
    font-size: 16px;
}
.cryptorio-main-form a{
    font-size: 15px;
    font-weight: 600;
    color:#fff;
}
.cryptorio-main-form input{
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
}
.cryptorio-forms-dark .cryptorio-main-form label{
    color: #fff;
}

.cryptorio-forms-dark .cryptorio-main-form input{
  background-color: #1B2134;
  border: 1px solid #2c3552;
}

.crypt-button-red-full{
  background: #eb6a61 !important;
  border: none !important;
  color: #fff;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  font-size: 20px;
  transition: all 0.4s ease;
}

.float-left{
  /* color: #fff; */
}
