<section>
  <div id="why-digital-part" class="section-p">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="why"><img src="../../../assets/images/why.png" alt="why image"></div>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-0">
          <div class="why-digital-currency">
            <h2>Why are so many <span class="brand-color">people investing</span> Digitall currencies like BitCoin</h2>
            <a href="#" class="btn-3 mb-2 mt-4 mt-md-3 mb-lg-3 mt-lg-4">Buy and sell Bitcoins</a>
            <p class="h5">Bitcoin Hit $15000 in Magor Milestone for #1 CryptoCurrency.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
            <p>when an unknown printer took a galley of type and scrambled it Magor Milestone for CryptoCurrency.</p>
            <!-- <div class="sign-btn mt-3 mt-sm-4">
              <a href="#" class="btn-5"> Sign Up</a>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div id="clint-part" class="section-p">
    <div class="owl-carousel clint-logo-active">
      <div class="clint-logo-item">
        <a href="#" class="clint-logo"><img src="images/clint-logo-1.png" alt=""></a>
      </div>
      <div class="clint-logo-item">
        <a href="#" class="clint-logo"><img src="images/clint-logo-2.png" alt=""></a>
      </div>
      <div class="clint-logo-item">
        <a href="#" class="clint-logo"><img src="images/clint-logo-3.png" alt=""></a>
      </div>
      <div class="clint-logo-item">
        <a href="#" class="clint-logo"><img src="images/clint-logo-4.png" alt=""></a>
      </div>
      <div class="clint-logo-item">
        <a href="#" class="clint-logo"><img src="images/clint-logo-5.png" alt=""></a>
      </div>

    </div>
  </div> -->
</section>
