<div id="home" class="intro">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-6 col-lg-6 col-12">
        <div class="intro-content">
          <h1>Trade with <strong class="text-primary">Tradio.</strong><br>
          Buy and sell in a real time
          </h1>
          <p id="para">Fast and secure way ot purchase or exchange 150+ market data from differents stocks</p>
        </div>
        <!-- add more space between the button -->
        <div class="intro-btn pt-4">
          <a class="btn btn-primary px-5" href="/">Get Started</a>
          <a class="btn btn-outline-primary ml-4 px-5 text-center" href="/">Buy Now</a>
        </div>
      </div>

      <div class="col-xl-5 col-lg-6 col-12">
          <div class="intro-form-exchange">
            <form class="currency_validate" method="post" name="myform">
              <div class="form-group">
                <label class="mr-sm-2">Send</label>
                <div class="input-group mb-3">
                  <select class="form-control" name="currency">
                    <option data-display="Bitcoin" value="bitcoin">Bitcoin</option>
                    <option value="litecoin">Litecoin</option>
                  </select>
                  <input class="form-control" type="text" name="usd_amount" placeholder="125.00 USD">
                </div>
              </div>

              <div class="form-group">
                <label class="mr-sm-2">Get</label>
                <div class="input-group mb-3">
                  <select class="form-control" name="currency">
                    <option data-display="Bitcoin" value="bitcoin">Bitcoin</option>
                    <option value="litecoin">Litecoin</option>
                  </select>
                  <input class="form-control" type="text" name="usd_amount" placeholder="125.00 USD">
                </div>
                <div class="d-flex justify-content-between mt-0 align-items-center">
                  <p class="mb-0">Monthly Limit</p>
                  <h6>$49512 remaining</h6>
                </div>
              </div>

              <a class="btn btn-success btn-block" type="submit" name="submit" href="/">
                Exchange Now
                <i class="la la-arrow-right">
                  ::before
                </i>
              </a>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
