body {
  line-height: 1.75;
}

.bottom {
  background: #1b2a4e;
}

.section-padding {
  padding: 70px 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.bottom .bottom-widget {
  margin-bottom: 30px;
}

.bottom .bottom-widget .widget-title {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}
.h4, h4 {
  font-size: 1.125rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li a{
  list-style: none;
  line-height: 2.8;
  color: #94a09e;
}
p{
  color: #94a09e;
}

.footer {
  border-top: 1px solid #223461;
  background: #1b2a4e;
  padding: 10px 0;
}

.footer .copyright p {
  margin: 0;
  font-size: 14px;
  color: #7f88a6;
}
.container p {
    margin-top: 0;
    margin-bottom: 1rem;
}
