/* You can add global styles to this file, and also import other style files */
body{
  background: #000;
  overflow-x: hidden;
  /* margin-top: 60px; */
  font-size: 13px;
}
iframe body{
  margin: 0;
}
