body {
  line-height: 1.75;
}
element {
  background: transparent none repeat scroll 0% 0%;
}

* {
  outline: none;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.section-padding {
  padding: 70px 0;
}

.container, .container-md, .container-sm {
  max-width: 720px;
}

.card {
  border: 0 solid #363c4e;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
  background: #131722;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
  background-clip: border-box;

  /* position: relative;
  display: flex;
 flex-direction: column;
 min-width: 0;
 word-wrap: break-word;
 background-color: #fff;
 background-clip: border-box;
 border: 1px solid rgba(0,0,0,.125);
 border-radius: .25rem; */
}

.price-grid .card {
  border: 1px solid #363c4e;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #363c4e;
  background: #131722;
  padding: 15px 20px;
}
.price-grid .card {
  border: 1px solid #363c4e;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}
.price-grid .card .card-header {
  padding: 15px 15px 0;
  border: 0;
}
.media {
  display: flex;
  align-items: flex-start;
}

.price-grid .card .card-header .media {
  align-items: center;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.BCH, .BTC {
  color: #f7931a;
}
.price-grid .card .card-header i {
  margin-right: 10px;
  font-size: 30px;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
  /* width: 10em; */
}
.card .card-body {
  padding: 15px 20px;
  background: #131722;
  border-radius: 15px;
}
.price-grid .card .card-body {
  padding: 15px 15px 0 !important;
}
element {
  position: relative;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto, .col-xxl, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-auto {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}

svg {
  overflow: hidden;
}
img, svg {
  vertical-align: middle;
}
*, ::after, ::before {
  box-sizing: border-box;
}
